
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav {
    flex-wrap: nowrap;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    width: auto;

    margin-top: 0;
  }
}


